# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# System and IDE files
Thumbs.db
.DS_Store
.idea
*.suo
*.sublime-project
*.sublime-workspace

# Visual Studio Code related
.classpath
.project
.settings/
.vscode/

# Vendors
node_modules/
package-lock.json

# Build
dist/
/npm-debug.log

.firebase
.firebaserc